@media (max-width: 700px){
    .form-box{
        margin: 100px;
        transform: scale(0.75);
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('backroundanime.jpg')no-repeat;
    background-position: center;
    background-size: cover;

}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255,0.5);
    border-radius: 40px;
    backdrop-filter: blur(8px);
}

h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}

.forget a{
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

.forget a:hover{
    text-decoration: underline;
    color:rgb(211, 211, 211) ;
}

button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    background: #fff;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin:25px 0 10px;
}

.register a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register a:hover{
    text-decoration: underline;
    color: rgb(211, 211, 211);
}

